<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Admin Dashboard</h1>
<p th:text="${message}">Message ici</p>
<img th:src="@{static/images/Logo.png}" alt="Logo">
<img th:src="@{/static/images/Logo.png}" alt="Logo">
<img th:src="@{/images/Logo.png}" alt="Logo">
<img th:src="@{/images/Logo.png}" alt="Logo" />
<img th:src="@{images/Logo.png}" alt="Logo">
<img src="/images/Logo.png" alt="Logo">
<img src="images/Logo.png" alt="Logo">
<img src="/static/images/Logo.png" alt="Logo">
<img src="static/images/Logo.png" alt="Logo">
</body>
</html>
